.home__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.home__img__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  width: 35%;
  right: 0px;
  top: 7%;
}

.home__img__container div {
  max-height: 45.5%;
}

.main__img__contaner {
  position: relative;
  width: 61.5%;
  height: 85%;
}

.home__main__img {
  position: absolute;
  left: 0px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 20px 20px 37px -5px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: 20px 20px 37px -5px rgba(129, 129, 129, 0.2);
  box-shadow: 20px 20px 37px -5px rgba(129, 129, 129, 0.2);
}

.second__img__tagline {
  width: 80%;
  cursor: default;
  height: 30%;
  margin: 0;
  text-align: left;
  left: 60px;
  right: 60px;
  top: 45px;
  font-size: 2em;
  opacity: 0.9;
  color: #f5f5f5;
  font-family: cursive;
  text-shadow: 1px 2px 8px #818181;
  font-weight: 600;
  z-index: 2;
  position: absolute;
}

.home__second__img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
  box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
}

.home__third__img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
  box-shadow: -10px 5px 19px 6px rgba(129, 129, 129, 0.2);
}

.home__tagline {
  width: 80%;
  cursor: default;
  height: 30%;
  margin: 0;
  text-align: left;
  left: 60px;
  right: 60px;
  font-size: 2em;
  opacity: 0.9;
  color: #f5f5f5;
  font-family: cursive;
  text-shadow: 1px 2px 8px #818181;
  font-weight: 600;
  z-index: 2;
  position: absolute;
}

.main__linkContainer {
  position: absolute;
  z-index: 2;
  right: 70px;
  bottom: 45px;
}

.img__container {
  position: relative;
}
