.mainHeader {
  z-index: 4;
  width: auto;
  height: 50px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  padding: 5px 15px 5px 15px;
  align-items: center;
  -webkit-box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
  box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
}

.mainHeader__navBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainHeader__navBar div span {
  margin: 0 15px 0 15px;
}

.mainHeader__mobileNavBar__container {
  display: none;
}

.mainHeader__navBar__linksContainer {
  display: flex;
  margin: 0 10% 0 15%;
}

.mainHeader__mobileNavBar__linksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 60px;
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
  height: 0px;
}

.mobileNavBar__active {
  height: 100px;
  transition: 0.5s;
  -webkit-box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
  -moz-box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
  box-shadow: 0px 12px 49px -5px rgba(129, 129, 129, 0.2);
}

@media screen and (max-width: 450px) {
  .mobileNavBar__active {
    height: 150px;
  }
}

@media screen and (max-width: 1350px) {
  .mainHeader__navBar__linksContainer {
    width: 950px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 850px) {
  .mainHeader__navBar__linksContainer {
    display: none;
  }

  .mainHeader__mobileNavBar__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.mainHeader__themeSwitch {
  position: absolute;
  right: 15px;
}

/* color of shadows #818181 */
