:root {
  --theme-color: #313131;
  --text-color: #f5f5f5;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--theme-color);

  font-family: 'Lucida Sans Unicode', sans-serif;

  margin: 0;
  padding-top: 55px;

  transition:
    color 0.5s,
    background-color 0.5s;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}

.bodyBlur {
  display: none;
  z-index: 3;
}

.bodyBlur_active {
  display: block;
  position: fixed;
  transition: all 0.5s;
  background-color: var(--text-color);
  opacity: 0.5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.burger_line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: var(--text-color);
}

.hamburger .checkbox:checked + svg .burger_line {
  stroke: crimson;
}

.header {
  z-index: 4;
  background-color: var(--theme-color);
  transition: all 0.5s;
}

.mobileNavBar {
  z-index: 4;
  background-color: var(--theme-color);
  transition: all 0.5s;
}

.menu__link {
  font-family: 'Lucida Console';
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
  line-height: 1.5;
  position: relative;
}

.menu__link a {
  text-decoration: none;
  color: var(--text-color);
}

.menu__link a:hover {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.menu__link::before {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  transition:
    transform 0.5s,
    opacity 0.5s;
  opacity: 0;
}

.menu__link:hover::before {
  transform: translateY(-0.25rem);
  opacity: 1;
}

.main__body-container {
  padding: 25px 50px 25px 50px;
  height: calc(100vh - 105px);
}

/* loader */
/* one step between animation = 0.2s */

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__spinner {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
}

.dash1,
.dash2 {
  border: 5px solid var(--text-color);
  opacity: 0.7;
  border-radius: 50px;
}

.loading__spinner .dash1 {
  width: 55px;
  height: 55px;
  position: absolute;
  border-left-color: transparent;
  animation: load161 1s linear infinite;
}

.loading__spinner .dash2 {
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  margin: 7.5px;
  animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.symbol1 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol2 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol3 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol4 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol5 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol6 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol7 {
  color: var(--text-color);
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol8 {
  color: var(--text-color);
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 1.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol9 {
  color: var(--text-color);
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 1.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol10 {
  color: var(--text-color);
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

.symbol11 {
  color: var(--text-color);
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 2.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #919191;
  font-weight: 600;
}

@keyframes pass {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pass1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
